
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesi칩n</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScvh5OpVfEzZara1q9hvgYWRTCvXeXqeh-Pw&usqp=CAU">
    <link rel="stylesheet" href="/style/css/logStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/script/loginscript.js"></script>
</head>

<body>
    
    <form class="login" action="/auth/login" method="POST">
    <h1>Inicie sesi칩n en Finca Experimental AV</h1>
    
    
    <img class="bottom-image" src="/img/logo/leaf.svg" alt="">
    <input type="text" name="username" id="username" class="login-input" placeholder="Nombre de usuario" required autofocus onclick="clean()">
    <input type="password" name="password" id="password" class="login-input password" placeholder="Contrase침a" required onclick="clean()">
    <span> <img class="show-password_button" src="/img/logo/eye.svg" alt="see"  onclick="seePassword()"></span>
    <div class="username-error"><label id="error_text"></label></div>

    <p class="login-text">
        <% if (messages.error) { %>
            <%= messages.error %>
          <% } %>
          <% if (typeof message !== 'undefined' ) { %>
            <p><%= message %></p>
            <% } %>
    </p>  

    <button type="submit" class="login-submit">Iniciar sesi칩n</button>
   
     
 </form>
</body>
</html>

