<h2>Actualizar Contrase単a</h2>
<h3><%= userName %></h3> 

<form action="/auth/update/<%= userID %>?_method=PUT" method="post">
    <label for="passOld">Contrase単a vieja</label>
    <br>
    <input type="password" name="passOld" id="" required>
    <br>

    <label for="pass1">Contrase単a Nueva</label>
    <br>
    <input type="password" name="pass1" id="" required>
    <br>
    <label for="pass2">Repetir Contrase単a</label>
    <br>
    <input type="password" name="pass2" id="" required>    

    <button type="submit">Update</button>
</form>

<p>    
      <% if (typeof message !== 'undefined' ) { %>
        <p><%= message %></p>
        <% } %>
</p> 
<a href="/">Cancel</a> 