<h2>Actualizar Contraseña</h2>
<form action="/auth/<%= actividad.id %>?_method=PUT" method="post">
    
    <input type="password" name="pass1" id="">
    <input type="password" name="pass1" id="">    

    <button type="submit">Update</button>
</form>
<a href="/">Cancel</a> 