<header>
    <div class="main_header_img">
        <a href="/"><img class="logo-loyola" src="https://ipl.edu.do/images/logo-loyola.svg" alt="logo-loyola"></a>
    </div>
    <div class="main_header">
        <a href="/"> 
            <h1>Finca Experimental</h1>
            <p class="main_header_p">Profesor André Vloebergh</p>
        </a>
    </div>
</header>

<nav class="nav-bar">
    <ul class= menu-bar>
        <li><a href="/">Inicio</a></li>
        <li>Próximas actividades</li>
        <li>Campos</li>
        <li>Cultivos</li>
        <li><a href="/auth/user">Perfil</a></li>  
        <li><a href="/auth/logout">Salir</a></li>          
    </ul>
</nav>

        
 