<header>
    <nav>
        <a href="/">Finca</a>
        <li><a href="/">Inicio</a></li>
        <li><a href="/">Cultivo</a></li>
        <li><a href="/auth/user">Perfil</a></li>
        <li><a href="/auth/logout">Salir</a></li>
    </nav>
</header>